body{
  font-family:Karla;
  font-size: 16px;
  color:white;
  font-weight: 400;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.main-div{
  box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  width: 600px;
  height: 400px;
  overflow: hidden;
}
h2, h4{
  margin: 0;
}
.title-div{
  padding-left: 25px;
  height: 45%;
  width: 100%;
}
.body-div{
  height: 55%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
#sub1-div, #sub2-div {
  padding: 20px 0px 20px 20px;
  height: 100%;
  display: inline-block;
}
#sub1-div{
  width: 50%;
  background-color: #2ab2af;
  padding: 25px;
}
#sub1-div p{
  margin-bottom: 20px;
}
#sub2-div{
  width: 50%;
  background-color: #2EBFBD;
  padding: 25px;
}
#sign{
  color: white;
  background-color: hsl(71, 73%, 54%);
  border: none;
  padding: 12px 80px 12px 80px;
  border-radius: 5px;
  font-weight: 700;
  transition: 0.15s;
}
#sign:hover{
  cursor: pointer;
  opacity: 0.7;
}
.bolds{
  font-weight: 700;
}
.reasons{
  color:hsl(204, 43%, 93%);
}
.attribution{
  color: rgb(163, 163, 163);
  width: 50%;
}
@media(max-width: 650px){
  .body-div{
    flex-direction: column;
  }
  #sub1-div, #sub2-div, .main-div{
    width: 100%;
    height: auto;
  }
}